.main-panel-content {
    width: 50em;
}

.main-panel-content-area {
    height: 5em;
}

.home-content {
    width: 1240px;
}

.card-button-pos {
    top: 5px;
    left: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.qa-content {
    height: 15em;
}